# Virtual environment
venv/
.venv/
env/
ENV/
.env

# Python cache & build files
__pycache__/
*.py[cod]
*$py.class
*.so

# Large Datasets (>50MB)
data/raw/*.csv
!data/raw/.gitkeep
data/processed/*.csv
!data/processed/.gitkeep

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log
